body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

 h2, p {
    color: #eee;
}

ul, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

   img {
    width: 30%;
    height: auto;
   }

 li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    background-color: none;
}

li a:hover {
    background-color: #666;
    color: #fff;
}

#content {
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
